apiVersion: apps/v1
kind: Deployment
metadata:
  name: posts-service
  namespace: cloud-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: posts-service
  template:
    metadata:
      labels:
        app: posts-service
    spec:
      containers:
        - name: posts-service
          image: ghcr.io/yuliakushnir/posts-service:latest
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: "postgresql"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "travel_blog"
            - name: DB_USERNAME
              value: "postgres"
            - name: DB_PASSWORD
              value: "12345678"

            #            - name: SPRING_RABBITMQ_USERNAME
#              valueFrom:
#                secretKeyRef:
#                  name: rabbitmq-secret
#                  key: username
            - name: SPRING_RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: password

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 20
