apiVersion: apps/v1
kind: Deployment
metadata:
  name: consul
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
        - name: consul
          image: hashicorp/consul:1.16.2
          ports:
            - containerPort: 8500
          command: ["consul", "agent", "-dev", "-ui", "-client=0.0.0.0"]
