apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: cloud-demo
spec:
  selector:
    app: postgresql
  type: ClusterIP
  ports:
    - name: tcp
      port: 5432
      targetPort: 5432
